/*@media screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper{
  width: 100%;

  margin:  0 auto;
  height: 100%;
  
  max-width: 768px;
  
}

  .large-menu {
  display: block;
  visibility: hidden;
  width: 160px;
  height: 126px;
  /*background: none;*/
/*  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -80px;
  background: hsla(225, 50%, 50%, 0.3);
  z-index: 10;
}
ul, li {
  display: block;
  width: 160px;
  margin: auto;
}
a {
  border: 1px  solid hsla(225, 50%, 50%, .0);
}

.large-menu:hover {
  visibility: visible;
  transition: visibility 0s linear 0.3s;
}

.main-nav__first_li {
   visibility: visible;
   background: hsla(225, 50%, 50%, 0.3);
}

a {
  border-top: 1px  solid hsla(225, 50%, 50%, .0);
  border-bottom: 1px  solid hsla(225, 50%, 50%, .0);
}

a:hover {
  background: hsla(225, 50%, 50%, 0.5);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}


}